*.pyc
*.pyd
*.pyo
.env
.venv/
__pycache__/
benchmark_prompts.json
config.yaml
models.yaml
state/
venv/
*.egg-info

generated/*
!generated/.gitignore
!generated/kubeai/
generated/kubeai/*
!generated/kubeai/.gitignore
!examples/
!examples/single-node/
!examples/single-node/config.yaml
!examples/single-node/models.yaml
